<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">

</head>

<body>
    <div class="login_parent">
        <div class="login">
            <h1>Login</h1>
            <% if flash[:error] %>
                <p class="error"><%= flash[:error] %></p>
            <% end %>
            <form action="/login" method="post">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <button type="submit">Login</button>
            </form>
            <form action="/register" method="get">
                <button type="submit">Register</button>
            </form>
        </div>
    </div>
</body>
</html>